<div class="product-card">
    <div class="product-card--image">
        {%- assign img_url = product.media | img_url: '100x100' -%}
        <img src="{{ img_url }}" class="feature-row__image lazyload"
             alt="{{ product.media.alt | escape }}">
    </div>
    <div class="product-card--textbox">
        <h3 class="product-card-title">
            {{ product.title | escape }}
            <span class="product-card--hover-arrow">
                <img src="{{ 'b-arrow.svg' | asset_url }}" alt="arrow">
            </span>
        </h3>
    </div>
</div>
