<div class="d-flex social__media-icons">
    <a href="{{ settings.social_facebook_link }}" class="social__media-icon">
        <svg width="16" height="16">
            <use xlink:href="#facebook_icon"></use>
        </svg>
    </a>
    <a href="{{ settings.social_instagram_link }}" class="social__media-icon">
        <svg width="16" height="16">
            <use xlink:href="#instagram_icon"></use>
        </svg>
    </a>
    <a href="mailto:{{ settings.social_envelope_link }}" class="social__media-icon">
        <svg width="16" height="16">
            <use xlink:href="#envelope_icon"></use>
        </svg>
    </a>
</div>
