<div class="page-width">
    <div class="collection__page-content">
        <div class="collection__page-items">
            {% assign products = collection.metafields.allproducts.products %}
            {% for product in products %}
                <li class="list-view-item">
                    {% include 'product-card-list', product: product %}
                </li>
            {% endfor %}
        </div>
    </div>
</div>
