{% for product in collection.products %}
  <li class="list-view-item">
    {% include 'product-card-list', product: product, show_vendor: section.settings.show_vendor %}
  </li>
{% endfor %}



{% schema %}
{
  "name": {
    "en": "Collection pages"
  },
  "settings": []
}
{% endschema %}
