{% for description in product.metafields.description.content %}
    <section class="product__page-description">
        <div class="container">
            <div class="row align-items-center product__page-description-wrapper">
                <div class="col-lg-6">
                    {{ description.html }}
                </div>
                <div class="col-lg-6">
                    {% assign img = product.metafields.description.image[forloop.index0] | first %}
                    <img src="{{ img.cloudinary_src }}" alt="">
                </div>
            </div>
        </div>
    </section>
{% endfor %}

