{% for description in product.metafields.description.content %}
    <section class="product__page-description">
        <div class="container">
            <div class="row align-items-center product__page-description-wrapper">
                <div class="col-lg-6">
                    {{ description.html }}
                </div>
                <div class="col-lg-6">
                    {{ forloop.index0 | json }}
                    {{ product.metafields.description.image | json }}
                    <img src="{{ product.metafields.description.image[forloop.index0].cloudinary_src }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <br><br>
{% endfor %}

